body {
    font-family: arial, sans-serif;
    background-image: url("/assets/LoopingBackground.jpg");
    background-repeat: repeat;
    background-size: 1000px;
}

h1 {
    width: 100%;
    margin-top: 40px;
    position: absolute;
    text-align: center;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    transition-duration: 0.2s;

    &:active {
        transform: scale(0.9);
    }
}